@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1&family=Young+Serif&display=swap');
*{
  overflow-x: hidden;
}
.home-content{
    /* border :1px solid red; */
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2,1fr);
    /* margin: 50px; */
    
    height: 700px;
}

/* .internship-content{
    border: 1px solid green;
    min-width:  40%;
    max-width: 80%;
    display: grid;
    place-items: center;
    justify-content: start;
    background-color: gold;
    animation: slideIn 1s ease-in-out;
} */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Apply the animation to an element */


.content{
    /* border: 1px solid red; */
    height: auto;
    width: auto;
    /* background-color: red; */
    display: grid;
    place-items: center;
    margin-left: 50px;
    /* text-align: center; */
    animation: slideIn 1s ease-in-out;
}
.content-heading{
    font-size: 3rem;
    /* color: rgb(228, 198, 29); */

    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right,rgb(5, 5, 33),blue);
    
}
.content-sub{
    font-size: 1,5rem;
    letter-spacing: 2px;
  /* border: 1px solid; */
}
.internship-img{
    /* position: absolute; */
    height: 500px;
    width: auto;
    right: 0px;
    overflow: hidden;
    /* border: 1px solid red; */
 /* background-color: red;   */
 
 animation: slideIn_img 1s ease-in-out;
}
@keyframes slideIn_img {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-0%);
  }
}
.img{
    height:100%;
    width: 100%;
    border-radius: 100%;
    /* border: 1px solid; */
}

.internship-img::after
{
    height: 200px;
    width: 400px;
    position: absolute;
    left: 0px;
    background-color: blue;
}

.internship-bgc{
    border: 1px solid blue;
    height: 850px;
    width: 100%;
    /* background-color: #11009E; */
}






.bannerIntern
{
    /* position: absolute; */
    /* top: 795px; */
    width: 100%;
    height: 300px;
    background: linear-gradient(45deg,rgb(1, 1, 47), rgb(8, 8, 215), #23a6d5, #23d2d5,#7623d5,#5e23d5,#2367d5,rgb(8, 8, 215),rgb(1, 1, 47));
    /* background: linear-gradient(135deg,rgb(1, 1, 47),rgb(1, 1, 129),rgb(24, 24, 203),rgb(15, 76, 191),rgb(24, 24, 203),rgb(1, 1, 129),rgb(1, 1, 47)); */
    /*  #ff8a00, #e52e71, #8a2be2, #8a2be2,#e52e71,#ff8a00 */
    background-size: 400% 400%;
    animation: gradientAnimation 15s infinite;
    display: grid;
  /* justify-content: center;
  align-items: center; */
  place-items: center;
  grid-template-rows: repeat(3,1fr);
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.ids{
  /* border: 1px solid; */
  display: grid;
  justify-content: center;
  font-size: 3rem;
}
.form{
  /* border: 1px solid red; */
  display: flex;
  padding: 20px;

}
input{
  height: 50px;
  width: 100%; 
  border-radius: 20px;
  margin: 5px;
  padding: 0px 50px;
  border: none;
}
.butn{
  /* margin: 10px 0px 0px 520px; */
  height: 50px;
  width: 150px;
  background: linear-gradient(45deg,rgb(1, 1, 47), rgb(8, 8, 215), #23a6d5, #23d2d5,#7623d5,#5e23d5,#2367d5,rgb(8, 8, 215),rgb(1, 1, 47));
  border-radius: 20px;
  border: none;
  font-size: 1rem;
}






.cards{
  /* border: 1px solid red; */
  display: grid;
  /* place-items: center; */
  /* place-content: center; */
  grid-template-columns: repeat(2,1fr);

}
.c-content{
  display: grid;
  place-items: center;
  /* grid-template-columns: repeat(2,1fr); */
  /* border: 1px solid green; */
  /* columns: 100px 2; */
}

.card-content{
  /* border: 1px solid red; */
  font-family: 'Quicksand', sans-serif;
  
}
/* .c-content1:hover{
  animation: slideIn 1s ease-in-out;
}
.c-content2:hover{
  animation: slideIn_img 1s ease-in-out;
  
} */
.internPara{
  font-size: .9rem;
  /* line-height: 25px; */
  font-family: 'M PLUS 1', sans-serif;
   /* font-weight: normal; */
  
  
}
.card-content>h1{
  text-indent: 20px;
}
.card-content>h1::before{
  /* content: ''; */
  background-image: linear-gradient(to top,rgb(10, 10, 109) ,blue );

}
.card-image{

}
.c-img1{
  height: 250px;
  width: 400px;
  margin: 0px 50px;
}
.c-img2{
  height: 330px;
  width: 250px;
  margin: 0px 120px;
  /* border: 1px solid; */
}








@media all and (max-width:1400px) {



  }
  @media all and (max-width:1200px) {
   
  }
  
  
  @media all and (max-width:1024px) {
    .home-content{
      display: grid;
      place-content: center;
      /* border: 1px solid red; */
     }

     .internship-img{
  /* border: 1px solid; */
  
     }
     .internship-content{
      /* border: 1px solid blue; */
      
      
     }
     .butn{
      
    }
     .content{
      /* border: 1px solid yellow; */
      display: grid;
      place-items: center;
     }
     .content-heading>h1{
      font-size: 2.5rem;
     }
     .content-sub>h1{
      font-size: 1.2rem;
     }
     .cards{
      /* border: 1px solid blue; */
      display: grid;
      place-items: center;
      /* grid-template-columns: repeat(1,2fr); */
     }
    .c-content{
      /* border: 1px solid red; */
      display: grid;
      place-items: center;
    }
    .card-content{
      /* border: 1px solid; */
      display: grid;
      place-items: center;
    }
    .c-content{
      /* border: 1px solid green; */
      display: grid;
      place-items: center;
    }
  }
  
  @media all and (max-width:768px) {
  
  }

  @media all and (max-width:540px) {
    .home-content{
      /* border: 1px solid red; */
      display: grid;
      /* place-items: center; */
      grid-template-columns: repeat(1,2fr);

    }
    
    .internship-content{
      /* border: 1px solid red; */
      /* margin: 0px 0px 240px 0px; */
    }
   
  .content-heading{
    /* border: 1px solid green; */
    /* font-size: 1rem; */
    
  }
  .content-heading>h1{
  
    /* font-size: 1.45rem;
    font-weight: bold;
    border: 1px solid; */
  }

  .content-sub>h1{
    /* border: 1px solid; */
    /* font-size: .95rem; */
  }

  .internship-img{
    /* border: 1px solid ; */
  }
  .bannerIntern{
    display: grid;
    height: 450px;
  }
  .form{
    display: grid;
  }
  .butn{
    
  }
 .cards{
  /* border: 1px solid; */
  display: grid;
  grid-template-columns: repeat(1,2fr);

 }
 .c-content{
  /* border: 1px solid; */
  display: grid;
  grid-template-columns: repeat(1,2fr);
  
 }
 .card-content>h1::before{
  /* content: ''; */
  background-image: linear-gradient(to top,rgb(10, 10, 109) ,blue );

}
 .card-content{
  padding: 5px;
 }
.card-content>h1.internPara{

}
}
.card-image{

}