.accordion {
    width: 100%;

    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .accordion-item {
    border-bottom: 1px solid #ccc;
  }
  
  .accordion-item:last-child {
    border-bottom: none;
  }
  
  .accordion-title {
    background: #f1f1f1;
    padding: 15px;
    cursor: pointer;
  }
  
  .accordion-title:hover {
    background: #ddd;
  }
  
  .accordion-content {
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  }
  
  .accordion-content.open {
    padding: 20px;
    background: #fff;
  }
  
  .accordion-content p {
    margin: 0;
  }
  